<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechNique</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header class="hero">
    <h1 class="app-title"><a href="/">TechNique Blog Spot</a></h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/dash">Dashboard</a> 
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
   <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="flex-row justify-center">
    &copy; TechNique Blogging
  </footer>

</body>
</html>

<script src="/js/logout.js"></script>