<div class="comment-body">
    <h3>Add Comments to Blog #{{blog.id}}</h3>
    <div class="card">
        <div class="card-body">
            <form class="new-comment">
                <label for="comment-content" class="form-label">Comment</label>
                <textarea class="form-tex-input" id="comment-content" placeholder="Enter your comment here:"></textarea>
                <button class="btn" id="comment-btn" type="submit" commentor="{{name}}">Submit</button>
            </form>
        </div>
    </div>
</div>

<script src='../public/js/addComment.js'></script>
