<div class="blogslist-group">
  {{#each blogs}}
    <a class="list-item flex-row justify-space-between" href="/dash/edit/{{id}}">
      <span>{{title}}</span>
      <span>{{format_date createdAt}}</span>
    </a>
  {{/each}}
</div>